* {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#currentUser {
  color: green;
  font-weight: 600;
  padding-bottom: 10px;
}

li {
  list-style: none;
  margin-left: -35px;
  padding-bottom: 10px;
}

.users {
  background-color: whitesmoke;
  overflow: auto;
  padding-top: 20px;
}

#chat {
  bottom: 0px;
  position: fixed;
  width: 100%;
  background-color: RGB(236, 236, 236);
  border: 1px solid black;
}

#messageInput {
  height: 40px;
  width: 80%;
  border-top: none;
  border-bottom: none;
  border-left: none;
  background-color: whitesmoke;
}

#messageButton {
  height: 46px;
  margin-left: -5px;
  width: 175px;
  border: none;
  background-color: RGB(236, 236, 236);
}

.messages {
  overflow: auto;
  padding-top: 10px;
}

#messages {
  margin-bottom: 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  #messageInput {
    width: 77%;
  }
  #messageButton {
    width: 20.8%;
  }
  .users {
    padding-top: 5px;
    height: 70px;
    display: flex;
  }
  #users {
    overflow: auto;
    width: 40%;
  }
  .formUsers {
    margin-top: 12px;
    width: 50%;
    margin-left: 1px;
    border: 1px solid black;
    height: 40px;
  }
  #changeUserName {
    width: 97%;
    border: none;
    border-bottom: 1px solid black;
  }
  #userButton {
    width: 100%;
    border: none;
  }
}
@media (min-width: 768px) and (max-width: 1099px) {
  #messageInput {
    width: 65.6%;
  }
  #messageButton {
    width: 14%;
  }
}
@media (min-width: 1100px) and (max-width: 1200px) {
  #messageInput {
    width: 67.6%;
  }
  #messageButton {
    width: 14%;
  }
}
@media (min-width: 1201px) and (max-width: 1399px) {
  #messageInput {
    width: 70.6%;
  }
  #messageButton {
    width: 14%;
  }
}
@media (min-width: 1400px) and (max-width: 1800px) {
  #messageInput {
    width: 73.6%;
  }
  #messageButton {
    width: 13%;
  }
}